.user-stats {
  background-color:#ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  height: 300px;
  width: 100%;
  min-width: 1400px;
  box-shadow: 0 4px 10px #0000001a;
  margin: 150px 0 40px 0;
  right: 1035px;
}
.user-info-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem; 
}

.profile-pic-stats {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem; 
}

.user-details {
  flex-grow: 1;
  text-align: left; 
  margin-left: 10px; 
}

.user-details h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.username {
  font-size: 1rem;
  color: #888;
}

.user-stats-box {
  display: flex;
  justify-content: flex-end;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 30px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.stat-title {
  font-size: 1rem;
  color: #888;
}

.divider-stat {
  border: none;
  border-top: 2px solid #888;
  margin-top: 4rem;
  margin-bottom: 11rem;
}

.links-stats {
  display: flex;
  gap: 1.5rem;
  color: #888;
  margin-top: -144px;
}

.links-stats p {
  margin: 0;
  cursor: pointer;
  color: #888;
  font-size: 1.2rem;
  font-weight: 400;
}

.links-stats p:hover {
  color: #000000;
}
